.sign-up {
  display: flex;
  flex-direction: column;
  text-align: center;

  .switch-form {
    padding-left: 5px;
    color: #4285f4;

    &:hover {
      text-decoration: underline;
      color: #2763bb;
    }
  }
}