.profile-card {
  width: 20vw;
  height: 400px;
  background-color: #ffffff;
  border: 2px solid #acacac;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  margin-top: 51.5px;

}