.newsfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;


  .connector {
    margin-top: -6px;
    color: #acacac;
  }

  .button{
    width: 30%;
    margin-top: -20px;
  }
}
